.btn {
    background: transparent;
    border: none;
    color: red;
}
.items {
    border: 0px solid; 
    border-radius: 15px;
    padding: 7px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F7F7F7;
}